<header>

    <div class="top-header">
        <div class="bloque B1">
            <img src="images/logo-mercado-liebre.svg" class="logo-header">      <!-- utilizo esta linea para agregar el loguito al Cuerpo -->
            
            <h1>Bienvenidos a MercadoLibre</h1>
        </div>
        <div class="bloque B2">
            <div class="buscador">
                <form action="/busqueda" method="POST">
                    <label for="busqueda"><i class="fas fa-search"></i></label>
                    <input type="text" placeholder="  Ingresá lo que estás buscando" name="busqueda" id="busqueda" class="caja">
                </form>
            </div>
        </div>
         <h2 class="bloque B3">Comprá en cuotas y sin tarjeta de crédito</h2>
        </div> 

        <nav class="celular">
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        
    </nav>

    <nav class="tablet-pc">

        <ul class="nav-bar-izquierda">
            <li><a href="#">Ofertas</a></li>  <!-- utilizo # cuando todavía no se la ruta del vinculo -->
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
        </ul>
        
        
        <ul class="nav-bar-izquierda">
            <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-user-plus"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a> <i class="fas fa-shopping-cart"></i></li>
        </ul>
    </nav>
    
</header>

