<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
    <%- include("partials/head") %>
<!-- </head> -->
<body>
    <!-- <header> -->
        <%- include("partials/header") %>
    <!-- </header> -->
 
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
        <section class="segun-visitas">
            <p class="titulo-seccion">Basado en tus últimas visitas</p>
            <div class="box-productos">
            <article class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="dscto">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="dscto">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">  
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="dscto">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="articulo">
                <img src="images/img-tv-samsung-smart.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="dscto">50% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
        </section>

        <section class="ofertas">
            <p class="titulo-seccion">Ofertas</p>
            <div class="box-productos">
            <article class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="dscto">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article class="productos">

            <article class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="dscto">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="dscto">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="articulo">   
                <img src="images/img-tv-samsung-smart.jpg" class="imagen-articulo">
                <div class="descripcion-articulo">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="dscto">50% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
    </section>

</main>

<!-- <footer> -->
    <%- include("partials/footer.ejs") %> 
<!-- </footer> -->

</body>
</html>